// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (min-width: 576px) {
  .responsive{
    .container{
      background-position: left 150% top 630%;
      padding: 20px 0;
      .row{
        margin: 0;
        .responsive__title{
          padding: 25px 0 0;
        }
      }
    }
  }
}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: 768px) {
.responsive{
    .container{
      background-position: left 295% top 1100%;
      padding: 20px 0;
      .row{
        .col-12{
          &:first-of-type{
            text-align: center;
          }
        }
        .responsive__title{
          padding: 75px 0 0;
        }
      }
    }
  }
}


// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: 992px) {
  .responsive{
    .container{
      background-position: left -155% bottom;
      padding: 95px 0 145px;
    }
  }
}

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: 1200px) {
  .responsive{
    .container{
      background-position: left -70% bottom;
    }
  }
}

@media (min-width: 1400px) {
  .responsive{
    .container{
      padding: 95px 0 145px;
    }
  }

}