.signup-form{
  .container{
    padding: 128px 0 86px;
    background-color: #323969;
    .row{
      .signup-form__title{
        text-align: center;
        span{
          @include template_title(1000, $template-title-light-font-color, inline, 'new features', center, $template-title-b-font-size, $template-title-b-font-color, inline, '...', 1.56vw, $template-title-light-font-color);
        }
      }
      .signup-form__inputs{
        form{
          padding: 96px 0 0;
          max-width: 1140px;
          margin: 0 auto;
          label{
            display: none;
          }
          div{
            width: 262px;
            input{
              &.signup-form__input, &.signup-form__button{
                width: 100%;
                font-size: 18px;
              }
              &.signup-form__input{
                @include template_input(1px, #999cb4, 2px, #474d78, #4f5584, #f6f5f3, #f6f5f3, #ff6d6d);
              }
              &.signup-form__button{
                background-color: #ff6d6d;
                border-radius: 2px;
                padding: 10px 24px;
                border: solid 1px #ff6d6d;
                box-shadow: 0 5px 5px #262b50;
                color: #f6f5f3;
                transition: .3s;
                &:hover{
                  box-shadow: 0 8px 15px #262b50;
                  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
                }
              }
            }
            &:last-of-type{
              position: relative;
              &:before{
                position: absolute;
                content: "30 days free trial for all";
                right: 0;
                top: -68px;
                width: 228px;
                height: 49px;
                text-align: center;
                color: white;
                background: url("./../images/signup-form-arrow.png") no-repeat left 3px top 11px;
              }
            }
          }
        }
      }
      .signup-form__terms{
        text-align: center;
        padding: 52px 0 0;
        span{
          @include template_description(700, 16);
          a{
            text-decoration: underline;
            color: #8d8fa3;
            transition: .3s;
            &:hover{
              color: #717383;
            }
          }
        }
      }
    }
  }
}