// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (min-width: $media-sm) {
  .footer {
    .container {
      background-position: right 185% top;
    }
  }
}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: $media-md) {
  .footer {
    .container {
      background-position: right 185% top;
    }
  }
}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: $media-lg) {
  .footer {
    .container {
      background-position: right -67% top;
    }
  }
}

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: $media-xl) {

}

@media (min-width: $media-xxl) {

}