// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (min-width: 576px) {
  .team{
    .container{
      padding: 25px 0 32px;
      .row{
        .col-12{
          ul{
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: 768px) {
.team{
  .container{
    .row{
      .col-12{
        ul{
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }
}
}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: 992px) {

}

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}