@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Regular.eot");
  src: local("Exo Thin"), local("Exo-Thin"), url("./../fonts/Exo/Exo-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Exo/Exo-Regular.woff2") format("woff2"), url("./../fonts/Exo/Exo-Regular.woff") format("woff"), url("./../fonts/Exo/Exo-Regular.ttf") format("truetype"), url("./../fonts/Exo/Exo-Regular.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.banner .banner__link a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.banner .banner__link a:hover {
  font-weight: bold;
}

.responsive .container .row .responsive__text .responsive__text-title span, .features .container .row .features__title span, .description .container .row .description__title span {
  font-size: 1.5vw;
  font-family: Exo, sans-serif;
  position: relative;
}
.responsive .container .row .responsive__text .responsive__text-title span:before, .features .container .row .features__title span:before, .description .container .row .description__title span:before {
  width: 100%;
  top: -1.2vw;
  position: absolute;
  text-transform: uppercase;
}
.responsive .container .row .responsive__text .responsive__text-title span:after, .features .container .row .features__title span:after, .description .container .row .description__title span:after {
  width: 100%;
  position: absolute;
  bottom: -0.3vw;
}

.responsive .container .row .responsive__text .responsive__text-description span, .features .container .row > .features__item .features__item-description span, .description .container .row .description__text p {
  color: #8a8a8a;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
}

.container {
  max-width: 1440px;
}

.banner {
  width: 100%;
  margin: 0 auto;
  font-family: Exo, sans-serif;
  background-image: url("./../images/banner-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__title {
  max-width: 55%;
  text-align: center;
}
.banner .banner__title h1 {
  font-weight: lighter;
  font-size: 2.36vw;
}
.banner .banner__button {
  padding: 38px 0 0;
}
.banner .banner__button img:hover {
  opacity: 0.7;
  cursor: pointer;
  width: 2.34vw;
}
.banner .banner__link {
  padding: 38px 0 0;
}
.banner .banner__link a {
  padding: 0.702vw 1.95vw 0.702vw 1.95vw;
  background-color: #ff6d6d;
  color: #ffffff;
  font-size: 0.63vw;
  border-radius: 3px;
}
.banner .banner__link a:hover {
  background-color: #ffffff;
  color: #ff6d6d;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.banner .banner__hint {
  padding: 19px 0 0;
}
.banner .banner__hint .banner__hint-text {
  font-size: 0.546vw;
  color: #7f7f81;
  font-weight: bold;
}

.description {
  width: 100%;
  background-color: #ececec;
}
.description .container {
  padding: 200px 0 167px;
  background-image: url("./../images/description_bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.description .container .row {
  margin: 0;
  width: 872px;
  padding: 0 150px;
}
.description .container .row .description__title {
  padding: 0;
}
.description .container .row .description__title span {
  padding: 0;
  color: #282828;
  font-weight: 1000;
}
.description .container .row .description__title span:before {
  display: block;
  text-align: left;
  font-size: 0.624vw;
  content: "new design";
  color: #ff8080;
}
.description .container .row .description__title span:after {
  display: inline;
  content: "....";
  color: #ff8080;
  font-size: 1.56vw;
}
.description .container .row .description__text {
  padding: 46px 0 0;
}
.description .container .row .description__text p {
  padding: 0;
  margin: 0;
  font-size: 0.624vw;
}
.description .container .row .description__text p:not(:last-of-type) {
  padding: 0 0 36px;
}

.features {
  width: 100%;
  background-color: #f6f5f3;
}
.features .container {
  padding: 160px 0 184px;
  background: url("./../images/features_bg-1.png") no-repeat left -30px top -20px, url("./../images/features_bg-2.png") no-repeat right top, url("./../images/features_bg-3.png") no-repeat right -7px bottom -80px;
}
.features .container .row .features__title span {
  color: #282828;
  font-weight: 1000;
  display: block;
  text-align: center;
}
.features .container .row .features__title span:before {
  display: block;
  text-align: center;
  font-size: 0.624vw;
  content: "new features";
  color: #ff6d6d;
}
.features .container .row .features__title span:after {
  display: none;
}
.features .container .row > .features__item {
  text-align: center;
}
.features .container .row > .features__item .features__item-icon {
  padding: 92px 0 0;
}
.features .container .row > .features__item .features__item-title {
  padding: 30px 0 0;
  font-weight: 1000;
  font-size: 0.936vw;
}
.features .container .row > .features__item .features__item-description {
  padding: 20px 0 0;
}
.responsive {
  width: 100%;
  margin: 0 auto;
}
.responsive .container {
  padding: 95px 0 145px;
  background: url(./../images/responsive_bg.svg) no-repeat left -130px top;
}
.responsive .container .row .responsive__image {
  background: url(./../images/responsive_mac.png) no-repeat top 12px left 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 367px;
}
.responsive .container .row .responsive__image img {
  display: inline;
}
.responsive .container .row .responsive__text {
  max-width: 500px;
}
.responsive .container .row .responsive__text .responsive__text-title span {
  padding: 0;
  color: #282828;
  font-weight: 1000;
}
.responsive .container .row .responsive__text .responsive__text-title span:before {
  display: block;
  text-align: left;
  font-size: 0.624vw;
  content: "new design";
  color: #ff8080;
}
.responsive .container .row .responsive__text .responsive__text-title span:after {
  display: inline;
  content: "....";
  color: #ff8080;
  font-size: 1.56vw;
}
.responsive .container .row .responsive__text .responsive__text-description {
  padding: 38px 0 0;
}
.our__team .container {
  padding: 108px 150px 0;
  background: url("./../images/our__team-bg.png") no-repeat;
}
.our__team .container .row {
  text-align: center;
}
.our__team .container .row .team__avatar img {
  border: solid 2px #1d1e24;
  max-width: 76px;
  transition: 0.5s;
}
.our__team .container .row .team__avatar img:hover {
  border-color: #ffffff;
}
.our__team .container .row .team__full-name {
  padding: 25px 0 0;
}
.our__team .container .row .team__full-name span {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}
.our__team .container .row .team__position span {
  color: #ff6d6d;
  font-weight: 500;
  text-transform: capitalize;
}
.our__team .container .row .team__description {
  padding: 38px 0 0;
}
.our__team .container .row .team__description span {
  font-style: italic;
  color: #c7c7c8;
}
.our__team .container .row .our__team-partners {
  padding: 65px 0 0;
}

/*# sourceMappingURL=index.css.map */
