@font-face {
  font-family: "Exo";
  src: url("./../fonts/Exo/Exo-Regular.eot");
  src: local("Exo Thin"), local("Exo-Thin"), url("./../fonts/Exo/Exo-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Exo/Exo-Regular.woff2") format("woff2"), url("./../fonts/Exo/Exo-Regular.woff") format("woff"), url("./../fonts/Exo/Exo-Regular.ttf") format("truetype"), url("./../fonts/Exo/Exo-Regular.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
}

.brdr-red {
  border: solid 1px red;
}

a {
  transition: 0.5s;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
    padding: 0;
  }

  .row {
    margin: 0;
  }
}
.banner {
  width: 100%;
  margin: 0 auto;
  background: url("./../images/banner-background.png") no-repeat center top 50%;
  background-size: cover;
}
.banner .container .row {
  min-height: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner .container .row div {
  text-align: center;
  width: 75%;
}
.banner .container .row .banner__title h1 {
  font-size: 75px;
  font-weight: 200;
}
.banner .container .row .banner__media {
  padding: 44px 0 0;
}
.banner .container .row .banner__media a:hover > img {
  opacity: 0.7;
}
.banner .container .row .banner__link {
  padding: 39px 0 0;
}
.banner .container .row .banner__link a {
  font-size: 20px;
  display: inline-block;
  padding: 12px 55px;
  background-color: #ff6d6d;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
}
.banner .container .row .banner__link a:hover {
  background-color: #7f84a1;
}
.banner .container .row .banner__hint {
  padding: 19px 0 0;
}
.banner .container .row .banner__hint span {
  color: gray;
}

.description {
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("./../images/description_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.description .container {
  padding: 200px 0 120px;
}
.description .container .row {
  flex-direction: column;
}
.description .container .row div {
  width: 50%;
}
.description .container .row .description__title {
  padding: 0;
}
.description .container .row .description__title h3 {
  font-size: 50px;
  position: relative;
  text-align: left;
}
.description .container .row .description__title h3:before {
  position: absolute;
  display: block;
  text-align: left;
  width: 100%;
  content: "New design";
  font-size: 16px;
  color: #fb8686;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  top: -20px;
}
.description .container .row .description__title h3:after {
  position: absolute;
  content: "....";
  font-size: 24px;
  color: #fb8686;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  right: -15px;
  bottom: 4px;
}
.description .container .row .description__paragraph {
  padding: 35px 0 0;
}
.description .container .row .description__paragraph span {
  color: gray;
}

.global-features {
  width: 1440px;
  margin: 0 auto;
  background-color: #f6f5f3;
  background-image: url("./../images/features_bg-1.png"), url("./../images/features_bg-2.png"), url("./../images/features_bg-3.png");
  background-position: top -15px left 100px, top -15px right 130px, bottom -85px right 75px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.global-features .container {
  padding: 150px 0 182px;
}
.global-features .container .row .global-features__title h3 {
  font-size: 50px;
  position: relative;
  text-align: center;
}
.global-features .container .row .global-features__title h3:before {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  content: "New features";
  font-size: 16px;
  color: #fb8686;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  top: -20px;
}
.global-features .container .row .global-features__title h3:after {
  display: none;
}
.global-features .container .row .global-features__item {
  text-align: center;
  padding: 74px 0 0;
}
.global-features .container .row .global-features__item .global-features__item-title {
  padding: 26px 0 0;
}
.global-features .container .row .global-features__item .global-features__item-title h6 {
  font-size: 22px;
  font-weight: bold;
}
.global-features .container .row .global-features__item .global-features__item-description {
  padding: 2px 0 0;
}
.global-features .container .row .global-features__item .global-features__item-description span {
  font-weight: bold;
  color: gray;
}

/*# sourceMappingURL=index.css.map */
