@font-face {
  font-family: "Exo";
  src: url("./../fonts/EXO/Exo-Thin.eot");
  src: local("Exo Thin"), local("Exo-Thin"), url("./../fonts/EXO/Exo-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/EXO/Exo-Thin.woff2") format("woff2"), url("./../fonts/EXO/Exo-Thin.woff") format("woff"), url("./../fonts/EXO/Exo-Thin.ttf") format("truetype"), url("./../fonts/EXO/Exo-Thin.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.banner .banner__link a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.banner .banner__link a:hover {
  font-weight: bold;
}

.features .container .row .features__title span, .description .container .row .description__title span {
  font-size: 1.5vw;
  font-family: Exo, sans-serif;
  position: relative;
}
.features .container .row .features__title span:before, .description .container .row .description__title span:before {
  width: 100%;
  top: -0.858vw;
  position: absolute;
  text-transform: uppercase;
}
.features .container .row .features__title span:after, .description .container .row .description__title span:after {
  width: 100%;
  position: absolute;
  bottom: -0.039vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
}

.banner {
  width: 100%;
  margin: 0 auto;
  font-family: Exo, sans-serif;
  background-image: url("./../images/banner-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__title {
  max-width: 55%;
  text-align: center;
}
.banner .banner__title h1 {
  font-weight: lighter;
  font-size: 2.36vw;
}
.banner .banner__button {
  padding: 38px 0 0;
}
.banner .banner__button img:hover {
  opacity: 0.7;
  cursor: pointer;
  width: 2.34vw;
}
.banner .banner__link {
  padding: 38px 0 0;
}
.banner .banner__link a {
  padding: 0.702vw 1.95vw 0.702vw 1.95vw;
  background-color: #ff6d6d;
  color: #ffffff;
  font-size: 0.63vw;
  border-radius: 3px;
}
.banner .banner__link a:hover {
  background-color: #ffffff;
  color: #ff6d6d;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.banner .banner__hint {
  padding: 19px 0 0;
}
.banner .banner__hint .banner__hint-text {
  font-size: 0.546vw;
  color: #7f7f81;
  font-weight: bold;
}

.description {
  width: 100%;
  background-color: #ececec;
}
.description .container {
  max-width: 1440px;
  padding: 200px 0 167px;
  background-image: url("./../images/description_bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.description .container .row {
  width: 872px;
  padding: 0 150px;
}
.description .container .row .description__title {
  padding: 0;
}
.description .container .row .description__title span {
  padding: 0;
  color: #282828;
  font-weight: 1000;
}
.description .container .row .description__title span:before {
  display: block;
  text-align: left;
  font-size: 0.624vw;
  content: "new design";
  color: #ff8080;
}
.description .container .row .description__title span:after {
  display: inline;
  content: "....";
  color: #ff8080;
  font-size: 1.56vw;
}
.description .container .row .description__text {
  padding: 46px 0 0;
}
.description .container .row .description__text p {
  padding: 0;
  margin: 0;
  font-size: 0.624vw;
  font-weight: 1000;
}
.description .container .row .description__text p:not(:last-of-type) {
  padding: 0 0 36px;
}

.features {
  width: 100%;
  background-color: #f6f5f3;
}
.features .container .row .features__title span {
  color: #282828;
  font-weight: 1000;
}
.features .container .row .features__title span:before {
  display: block;
  text-align: center;
  font-size: 0.624vw;
  content: "new features";
  color: #ff6d6d;
}
.features .container .row .features__title span:after {
  display: none;
}

/*# sourceMappingURL=index.scss.map */
