.browser{
  .container{
    padding: 122px 0 0;
    background-color: #f6f5f3 ;
    .row{
      .browser__title{
        h3{
          @include template-title(#000000, center, "New features", center, -20px, null, #fb8686, null);
        }
      }
      .browser__paragraph{
        padding: 30px 0 0;
        max-width: 65%;
        text-align: center;
        margin: 0 auto;
        span{
          @extend %template-paragraph;
        }
      }
      .browser__image{
        padding: 93px 0 0;
        text-align: center;
      }
    }
  }
}