.banner{
  width: 100%;
  margin: 0 auto;
  font-family: Exo, sans-serif;
  background-image: url("./../images/banner-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner__title{
    max-width: 55%;
    text-align: center;
    h1{
      font-weight: lighter;
      font-size: $banner-title-font-size;
    }
  }
  .banner__button{
    padding: 38px 0 0;
    img{
      &:hover{
        opacity: .7;
        cursor: pointer;
        width: $banner-button-width;
      }
    }
  }
  .banner__link{
    padding: 38px 0 0;
    @include button_link($banner-link-vertical-padding, $banner-link-horizontal-padding, $banner-link-vertical-padding, $banner-link-horizontal-padding, $banner-link-bg-color, $banner-link-font-color, $banner-link-font-size, 3px, $banner-link-hover-bg-color, $banner-link-hover-font-color, 0px, 0px, 6px, rgba(0, 0, 0, 0.4));
  }
  .banner__hint{
    padding: 19px 0 0;
    .banner__hint-text{
      font-size: $banner-hint-font-size;
      color: $banner-hint-font-color;
      font-weight: bold;
    }
  }
}