.features{
  width: 100%;
  background-color: #f6f5f3;
  .container{
    padding: vw-calc(160) 0 vw-calc(184);
    background: url('./../images/features_bg-1.png') no-repeat left vw-calc(-30) top vw-calc(-20), url('./../images/features_bg-2.png')no-repeat right top, url('./../images/features_bg-3.png') no-repeat right vw-calc(-7) bottom vw-calc(-80);
    .row{
      @extend %template__row-width;
      .features__title{
        span{
          @include template_title(1000, $template-title-dark-font-color, block, 'new features', center, $template-title-b-font-size, $template-title-b-font-color, none, '', 0px, transparent);
          display: block;
          text-align: center;
        }
      }
      & > .features__item{
        text-align: center;
          .features__item-icon{
            padding: vw-calc(92) 0 0;
          }
        .features__item-title{
          padding: vw-calc(30) 0 0;
          font-weight: 1000;
          font-size: 0.936vw;
        }
        .features__item-description{
          padding: vw-calc(20) 0 0;
          span{
            @include template_description(normal, 16);
          }
        }
      }
    }
  }
}