.our__team{
  .container{
    padding: 108px 150px 0;
    background: url("./../images/our__team-bg.png") no-repeat;
    .row{
      text-align: center;
      .team__avatar{
        img{
          border: solid 2px #1d1e24;
          max-width: 76px;
          transition: .5s;
          &:hover{
            border-color: #ffffff;
          }
        }
      }
      .team__full-name{
        padding: 25px 0 0;
        span{
          font-size: 24px;
          color: #ffffff;
          font-weight: 500;
        }
      }
      .team__position{
        span{
          color: #ff6d6d;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
      .team__description{
        padding: 38px 0 0;
        span{
          font-style: italic;
          color: #c7c7c8;
        }
      }
      .our__team-partners{
        padding: 65px 0 0;
      }
    }
  }
}