.description{
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("./../images/description_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  .container{
    padding: 200px 0 120px;
    .row{
      flex-direction: column;
      div{
        width: 50%;
      }
      .description__title{
        padding: 0;
        h3{
          @include template-title(left, "New design", left, -20px, "....", #fb8686);
        }
      }
      .description__paragraph{
          padding: 35px 0 0;
        span{
          color: gray;
        }
      }
    }
  }
}