// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (min-width: $media-sm) {
  .description{
    .container {
      background-image: url("./../images/description_bg.svg");
      background-repeat: no-repeat;
      background-position: bottom right 0;
      padding: 30px 0;
      .row{
        .description__paragraph{
          span{
            color: black;
          }
        }
      }
    }
  }
}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: $media-md) {
  .description{
    .container{
      background-position: bottom right -150%;
      .row{
        .description__paragraph{
          span{
            color: $paragraph-color;
          }
        }
      }
    }
  }
}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: $media-lg) {
  .description{
    .container{
      padding: 100px 0;
      background-position: bottom right 0;
    }
  }
}

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: $media-xl) {
  .description{
    .container{
      padding: 200px 0 120px;
    }
  }
}

// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)
@media (min-width: $media-xxl) {

}