.description{
  width: 100%;
  background-color: #ececec;
  .container{
    padding: 200px 0 167px;
    background-image: url("./../images/description_bg.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #ffffff;
    .row{
      margin: 0;
      width: 872px;
      padding: 0 150px;
      .description__title{
        padding: 0;
        span{
          padding: 0;
          @include template_title(1000, $template-title-font-color, block, 'new design', left, $template-title-b-font-size, #ff8080, inline, '....', 1.56vw, #ff8080);
        }
      }
      .description__text{
        padding: 46px 0 0;
        p{
          padding: 0;
          margin: 0;
          font-size: calc(0.039vw * 16);
          @extend %template_description;
          &:not(:last-of-type){
            padding: 0 0 36px;
          }
        }
      }
    }
  }
}
