%button_link{
  a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: $global-link-button-transition;
    &:hover{
      font-weight: bold;
    }
  }
}

%template_title{
  font-size: $template-title-font-size;
  font-family: Exo, sans-serif;
  position: relative;
  &:before{
    width: 100%;
    top: -1.2vw;
    position: absolute;
    text-transform: uppercase;
  }
  &:after{
    position: absolute;
    bottom: -0.3vw;
  }
}

%template_input{
  padding: 10px 24px;
  outline: solid 2px transparent;
  transition: .2s;
  &:hover{
    cursor: pointer;
  }
  &:focus-visible{
    cursor: text;
  }
}

%template_description{
  color: $template-description-font-color;
}

%template__footer-title{
  font-size: 22px;
  color: #282828;
}

%template__row-width{
  max-width: 1140px;
}