@font-face {
  font-family: 'Exo';
  src: url('./../fonts/Exo/Exo-Regular.eot');
  src: local('Exo Thin'), local('Exo-Thin'),
  url('./../fonts/Exo/Exo-Regular.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/Exo/Exo-Regular.woff2') format('woff2'),
  url('./../fonts/Exo/Exo-Regular.woff') format('woff'),
  url('./../fonts/Exo/Exo-Regular.ttf') format('truetype'),
  url('./../fonts/Exo/Exo-Regular.svg#Exo-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}