@font-face {
  font-family: 'Exo';
  src: url('./../fonts/EXO/Exo-Thin.eot');
  src: local('Exo Thin'), local('Exo-Thin'),
  url('./../fonts/EXO/Exo-Thin.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/EXO/Exo-Thin.woff2') format('woff2'),
  url('./../fonts/EXO/Exo-Thin.woff') format('woff'),
  url('./../fonts/EXO/Exo-Thin.ttf') format('truetype'),
  url('./../fonts/EXO/Exo-Thin.svg#Exo-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}