@mixin template-title($color, $title-align: left, $before-content: null, $before-align: left, $before-top-padding: 0, $after-content: null, $after-color: black, $after-padding-right: null){
  font-size: 40px;
  position: relative;
  color: $color;
  text-align: $title-align;
  &:before{
    @if $before-content == null{
      display: none;
    }
    @else{
      position: absolute;
      display: block;
      text-align: $before-align;
      width: 100%;
      content: $before-content;
      font-size: 16px;
      color: #fb8686;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 3px;
      top: $before-top-padding;
    }
  }
  &:after{
    @if $after-content == null{
      display: none;
    }
    @else{
      position: absolute;
      display: inline;
      content: $after-content;
      font-size: 24px;
      color: $after-color;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 3px;
      right: $after-padding-right;
      bottom: 4px;
      text-align: left;
    }
  }
}
