$banner-title-font-size: 6vw;
$banner-title-font-color: #282828;

$banner-link-font-size: 1.6vw;
$banner-link-vertical-padding: 1.8vw;
$banner-link-horizontal-padding: 5vw;
$banner-link-bg-color: #ff6d6d;
$banner-link-font-color: #ffffff;
$banner-link-hover-bg-color: #ffffff;
$banner-link-hover-font-color: #ff6d6d;

$banner-hint-font-size: 1.4vw;
$banner-hint-font-color: #7f7f81;
