$banner-link-bg-color: #ff6d6d;
$banner-link-bg-hover: #7f84a1;
$banner-link-color: #ffffff;

$banner-hint-color: #808080;

$description-bg-color: #ffffff;
$paragraph-color: #868686;

$gl-features-bg-color: #f6f5f3;
$gl-features-item-desc-color: #868686;

$team-img-border-color: #1d1e24;
$team-position-color: #ff6d6d;
$team-about-color: #b3b4b6;

$browser-bg-color: #f6f5f3;
$form-bg-color: #323969;
$form-agreement-color: #868686;
$form-agreement-link-color: #868686;
$form-agreement-hover-color: #ff6d6d;

$form-input-text-border-color: #999cb4;
$form-input-text-bg-color: #474d78;
$form-input-text-placeholder-color: #ffffff;
$form-input-text-bg-hover-color: #434971;

$form-input-button-bg-color: #ff6d6d;
$form-input-button-box-shadow-color: rgba(0,0,0,0.5);
$form-input-button-box-shadow-hover: rgba(0,0,0,0.7);
$form-input-button-bg-hover: #fe6161;
$form-input-button-border-color: #ff6d6d;
$form-input-button-color: #ffffff;

$form-signup-arrow-text-color-color: #ffffff;

$footer-list-link-color: #717171;
$footer-list-link-hover: #fb8686;
$footer-form-input-border-color: #b8b8bf;
$footer-form-input-background-hover: #e7e7eb;
$footer-form-button-background-color: #ff6d6d;
$footer-form-button-background-hover: #ed6565;


$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1400px;