$global-link-button-transition: .3s;

$template-title-font-size: 1.5vw;
$template-title-font-color:#282828;
$template-title-b-font-color: #ff6d6d;
$template-title-b-font-size: 0.624vw;
$template-description-font-color: #8a8a8a;


$banner-title-font-size: 2.36vw;
$banner-title-font-color: #282828;

$banner-button-width: 2.34vw;

$banner-link-font-size: 0.63vw;
$banner-link-vertical-padding: 0.702vw;
$banner-link-horizontal-padding: 1.95vw;
$banner-link-bg-color: #ff6d6d;
$banner-link-font-color: #ffffff;
$banner-link-hover-bg-color: #ffffff;
$banner-link-hover-font-color: #ff6d6d;

$banner-hint-font-size: 0.546vw;
$banner-hint-font-color: #7f7f81;

