.global-features{
  .container{
    padding: 150px 0 182px;
    background-color: #f6f5f3;
    background-image: url("./../images/features_bg-1.png"), url("./../images/features_bg-2.png"), url("./../images/features_bg-3.png");
    background-position: top 196px left -122px, top -31px right -74px, bottom -85px right -10px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    .row{
      .global-features__title {
        h3 {
          @include template-title(#000000, center, "New features", center, -20px, null, #fb8686);
        }
      }
      .global-features__item{
        text-align: center;
        padding: 74px 0 0;
        .global-features__item-icon{
          img{

          }
        }
        .global-features__item-title{
          padding: 26px 0 0;
          h6{
            font-size: 22px;
            font-weight: bold;
          }
        }
        .global-features__item-description{
          padding: 2px 0 0;
          span{
            font-weight: bold;
            color: gray;
          }
        }
      }
    }
  }
}